@*Using Services to bring in interface image service*@
@using BlogProject.Services
@using Microsoft.AspNetCore.Identity
@model BlogProject.Models.Post

@*Inject instance of interfece IImageService*@
@inject IImageService imageService
@inject UserManager<BlogUser> userManager

@{
    ViewData["Title"] = "Details";
}

<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
</article>

<hr />
<!-- Post Tags -->
<article>
    <div class="row">
        <div class="col text-center fw-bold h3">
            Post Tags
        </div>
    </div>
    @*For each tag in Model.Tags, display tag.text.ToLower()*@
    <div class="row">
        <div class="col text-center">
            @foreach (var tag in Model.Tags)
           {
               @*Achnor tag link to an asp-action Tag Index*@
               <a class="btn btn-warning btn-sm btn-outline-dark" asp-action="TagIndex" asp-route-tag="@tag.Text.ToLower()">#@tag.Text</a>
           }
        </div>
    </div>
</article>

<hr />

@*Add a post comment*@
<div class="d-flex justify-content-center vw-100">
    @*If user is logged in and authenticated, display comment form input*@
    @if (User.Identity.IsAuthenticated)
   {
       <div class="commentArea">
           <form asp-action="Create" asp-controller="Comments" method="POST" class="w-100">
               @*Embed the post's Id using an Html helper to create a hidden input*@
               @Html.Hidden("PostId", Model.Id)

               @*Comment input*@
               <div class="form-group w-100 d-flex flex-column align-items-center">
                   <label for="body" class="h2 form-label fw-bold">Add Comment</label>
                   <textarea name="body" class="form-control" rows="5"></textarea>
               </div>
               <div class="w-100 my-2">
                   <button type="submit" class="btn btn-dark btn-sm w-100">Submit</button>
               </div>
               
            </form>
       </div>       
    }
    @*Otherwise, tell user they can submit a comment if they log in*@
    else
    {
        <div class="my-2">
            <a class="btn btn-sm btn-dark" asp-area="Identity" asp-page="/Account/Login" asp-route-ReturnUrl="~/Posts/Details?slug=@Model.Slug">
                Login to add comments to this post 
            </a>
        </div>        
    }
</div>

<hr />

@*Post comment count*@
<button id="commentSection" class="btn btn-sm btn-dark my-2 ms-3">@Model.Comments.Count COMMENT(S)</button>

@*@foreach comment in Model.Comments, display user's profile picture and associated comment*@
@foreach (var comment in Model.Comments) 
{
    @*Post comment*@
    <div class="d-flex align-items-start media media-border p-2 mb-2 bg-light w-100">

        @*User's profile image, decode img byte array via injected instance of IIMageService*@
        <img class="mx-3 mt-3 rounded-circle postCommentImg" src="@imageService.DecodeImage(comment.BlogUser.Image, comment.BlogUser.ContentType)" />
        
        @*User's name, formatted created date, and comment body*@ 
        <div class="media-body w-100">             
             <h4>@comment.BlogUser.FullName</h4>
             <small><i>Posted on @comment.Created.ToString("MMM dd, yyyy")</i></small>
             <p>@comment.Body</p>
            
             @*If comment hasn't been moderated or deleted and the comment's user is logged in,
                 Display comment edit button*@
            @if (comment.Moderated is null && comment.Deleted is null && comment.BlogUserId == userManager.GetUserId(User))
            {
                <hr />
                @*Button to target and toggle modal*@
                <button data-bs-toggle="modal" data-bs-target="#editModal-@comment.Id" class="btn btn-sm btn-dark float-end fw-bold">EDIT</button>
            }

         </div>
    </div>

    @*Modal*@
    <div class="modal fade" id="editModal-@comment.Id" tabindex="-1" aria-labelledby="editModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">

                @*Modal header/title*@
                <div class="modal-header">
                    <h4 class="modal-title" id="editModalLabel">Edit Comment...</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                @*Modal body*@
                <div class="modal-body">
                    <form asp-controller="Comments" asp-action="Edit">
                        @*Use html helper to pass comment's primary key/Id as a hidden input element*@
                        @Html.Hidden("Id", comment.Id)

                        <div class="form-group">
                            <textarea name="Body" class="form-control" required>@comment.Body</textarea>
                        </div>

                        <button class="btn btn-sm btn-dark border-success fw-bold my-2" type="submit">SUBMIT</button>
                    </form>
                </div>

                @*Modal footer*@
                <div class="modal-footer">
                    <button class="btn btn-sm btn-dark fw-bold my-2" type="button" data-bs-dismiss="modal">CLOSE</button>
                </div>

            </div>
        </div>

    </div>
}