@using BlogProject.Enums
@using BlogProject.Models
@using BlogProject.Services
@using BlogProject.ViewModels
@using Microsoft.AspNetCore.Identity

@inject IImageService imageService
@inject UserManager<BlogUser> userManager
@model PostDetailViewModel

@{
    ViewData["Title"] = "Blog Post";
}

<article>  
    <div class="row">
        <div class="col-9 border-right">
            @Html.Raw(Model.Post.Content)
        </div>
        <!-- BLOG TAGS -->
        <div class="col-3 text-center fw-bold h6" >
            <div class="card d-flex flex-column align-items-center">
                <img src="/img/tag.jpg" alt="Tags" width="110">
                <div class="card-body">
                    <h4 class="card-title">Blog Tags</h4>
                    <div class="tagView mt-3">
                        @foreach (var tag in Model.Tags)
                        {
                            <a asp-action="TagIndex" 
                               asp-route-tag="@tag" 
                               class="mb-1 btn btn-sm btn-warning btn-outline-dark">#@tag</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</article>
<!-- POST TAGS -->
<article>
    <hr />
    <h3 class="text-center fw-bold">Post Tags</h3>
    <div class="col text-center">
        @foreach (var tag in Model.Post.Tags.ToList())
        {
            <a asp-action="TagIndex" 
               asp-route-tag="@tag.Text.ToLower()" 
               class="mb-1 btn btn-sm btn-warning btn-outline-dark">#@tag.Text</a>
        }
    </div>
    <hr />
</article>

<!-- ADD A COMMENT -->
<div>
    @if (User.Identity.IsAuthenticated)
    {
    <form asp-action="Create" asp-controller="Comments" method="post">
        @Html.Hidden("PostId", Model.Post.Id)
        @Html.Hidden("Slug", Model.Post.Slug)

        <div class="form-group">
            <label class="h2 form-label fw-bold">Add a Comment</label>
            <textarea name="body" class="form-control" rows="5"></textarea>
        </div>

        <button type="submit" class="btn btn-dark btn-sm">Submit</button>
    </form>
    }
    else
    {
        <a class="btn btn-sm btn-dark" asp-area="Identity" asp-page="/Account/Login">
            Login to add comments
        </a>
    }

    <br />
    <hr class="card-hr" />
    <br />
    <!-- COMMENTS -->
    <a id="commentSection" class="btn btn-sm btn-dark mb-2">@Model.Post.Comments.Count COMMENT(S)</a>

    @foreach (var comment in Model.Post.Comments.OrderByDescending(c => c.Created))
    {
        <!-- COMMENT HEADER-->
        <div class="media p-3 mb-2 bg-light media-border">
            <img src="@imageService.DecodeImage(
                comment.BlogUser.Image, 
                comment.BlogUser.ContentType)" 
                alt="@comment.BlogUser.FullName" 
                class="mr-3 mt-3 rounded-pill" 
                style="width:60px;">
            @****************************************************************
                    COMMENT DATE
            *****************************************************************@
            <div class="media-body">
                <h5 class="my-2">@comment.BlogUser.FullName</h5>             
                
                @if(comment.Deleted is not null)
                {
                    <span class="small">                                                       
                        <span class="fw-bolder">Deleted</span> : @comment.Deleted?.ToString("MMM dd, yyyy")
                    </span>                    
                }
                else if(comment.Moderated is not null)
                {
                    <span class="small">
                        <span class="fw-bolder">
                            Moderated <span class="text-danger fst-italic ">(@comment.ModerationType.ToString().ToLower())</span>                   
                        </span>                       
                        : @comment.Moderated?.ToString("MMM dd, yyyy")                                                           
                    </span>                   
                 }
                else if(comment.Updated is not null)
                {
                    <span class="small">
                        <span class="fw-bolder">Updated </span> : @comment.Updated?.ToString("MMM dd, yyyy")
                    </span>        
                }
                else
                {
                    <span class="small">
                        <span class="fw-bolder">Created </span> : @comment.Created.ToString("MMM dd, yyyy")
                    </span>                      
                }                                            

                @*****************************************************************
                    DELETED OR MODERATED TEXT                  
                *****************************************************************@                     
                <br />
                @if(comment.Deleted is not null)
                {
                    <span class="small fst-italic">
                        The comment posted on @comment.Created.ToString("MMM dd, yyyy") by @comment.BlogUser.FullName was deleted by the Moderator...
                    </span>
                }
                else if(comment.Moderated is not null)
                {
                    <span class="small fst-italic">
                        The comment posted on @comment.Created.ToString("MMM dd, yyyy") by @comment.BlogUser.FullName has been Moderated...
                    </span>                      
                }

                <hr />

                 @*****************************************************************
                    COMMENT BODY                       
                *****************************************************************@                      
                @if(string.IsNullOrEmpty(comment.Body))
                {
                    <span class="small fst-italic">Comment not available...</span>
                }
                else if(comment.Moderated is not null)
                {
                    @comment.ModeratedBody
                }
                else if(comment.Deleted is null)
                {
                    @comment.Body
                }

                @****************************************************************
                    EDIT BUTTON           
                *****************************************************************@
                @if (comment.Moderated is null && comment.Deleted is null && comment.BlogUserId == userManager.GetUserId(User))
                {
                    <hr>
                    <button data-bs-toggle="modal" 
                            data-bs-target="#editModal-@comment.Id" 
                            class="btn-sm btn-dark fw-bold">EDIT COMMENT</button>
                }
  
                @****************************************************************
                    MODERATE AND DELETE BUTTONS              
                *****************************************************************@
                @if (User.IsInRole(BlogRole.Moderator.ToString()) || User.IsInRole(BlogRole.Administrator.ToString()) && comment.Deleted is null)
                {
                    <hr>
                    <div class="row d-flex justify-content-center">                          
                        <div class="col-2">
                            <button  class="btn-sm btn-dark fw-bold" 
                                     data-bs-toggle="modal" 
                                     data-bs-target="#moderate-@comment.Id">MODERATE</button>                                                   
                        </div>
                            <div class="col-2">
                            <form asp-action="Delete" asp-controller="Comments">
                                @Html.Hidden("Id", comment.Id)
                                @Html.Hidden("Slug", comment.Post.Slug)
                                <button class="btn-sm btn-dark fw-weight-bold">DELETE</button>
                            </form>
                        </div>
                    </div>                  
                }
                                       
            </div>

        </div>


        @*Modals*@
        @*Edit comment*@
        <div class="modal" id="editModal-@comment.Id">
            <div class="modal-dialog">
                <div class="modal-content">          
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Comment...</h4>
                                   
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <form asp-action="Edit" asp-controller="Comments">
                            @Html.Hidden("Id", comment.Id)
                                      
                            <div class="form-group">
                                <textarea name="Body" class="form-control" required>@comment.Body</textarea>
                            </div>
                                       
                            <button class="btn-sm btn-dark border-success fw-bold" type="submit">SUBMIT</button>
                        </form>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn-sm btn-dark fw-bold" data-bs-dismiss="modal">CLOSE</button>
                    </div>

                </div>
            </div>
        </div>
        @*Moderate comment*@
        <div class="modal" id="moderate-@comment.Id">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Moderating Comment...</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>                                        
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <form asp-action="Moderate" asp-controller="Comments">
                            @Html.Hidden("Id", comment.Id)
                            @Html.Hidden("Body", comment.Body)

                            <div class="form-group">
                                <label class="form-label">Original Comment</label>
                                <textarea disabled class="form-control" style="resize:none">@comment.Body</textarea>
                            </div>

                            <div class="form-group">
                                <label class="form-label">Moderated Comment</label>
                                <textarea required name="ModeratedBody" class="form-control">@comment.ModeratedBody</textarea>
                            </div>

                            <div class="form-group">
                                <label class="form-label">Reason For Moderation</label>
                                <select class="form-control" 
                                        asp-for="@comment.ModerationType" 
                                        name="ModerationType" 
                                        asp-items="Html.GetEnumSelectList<ModerationType>()"></select>
                            </div>

                             <div class="form-group">
                                 <div class="row">
                                     <div class="col">
                                        <button class="btn-sm btn-dark border-success fw-bold" type="submit">SUBMIT</button>                                         
                                     </div>
                                     <div class="col">
                                        <button class="btn-sm btn-dark fw-bold" type="button" data-bs-dismiss="modal">CLOSE</button>                                         
                                     </div>                                     
                                 </div>
                             </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
</div>